* {
    margin: 0;
    padding: 0;
}

html{
    font:14px normal Arial, sans-serif;
}

body{
    padding:60px;
    text-align: center;
}

input{

    font: inherit;
    border: 6px solid #a3d8d6;
    padding: 13px 12px;
    font-size: 15px;
    box-shadow: 0 1px 1px #DDD;
    width: 384px;
    outline: none;
    display: block;
    color: #7B8585;
    margin: 0 auto 20px;
    border-radius: 25px;
}

ul{
    list-style: none;
    display: inline-block;
    width: 420px;
    padding:10px;
    margin: 10px;



}

ul li{
    display: block;
    padding: 15px 20px;
    background-color: #F8F8F8;
    color: #7B8585;
    margin-bottom: 9px;
    position: relative;

    transition: 0.3s;

}


ul li:hover{
    background-color:#d8f2f1;
}

button {
    width: 70px;
    height: 30px;
    font:14px normal, white, sans-serif;
    background-color: #F8F8F8;
    border-radius: 25px;

}

h2{
    margin: 20px;
}